@using GestionF1.Data.Entidades
@model Piloto

<h1>Agregar Nuevo Piloto</h1>

<form method="post" action="/pilotos/agregarpiloto">
    <div class="form-group">
        <label for="NombrePiloto">Nombre del Piloto</label>
        <input type="text" class="form-control" id="NombrePiloto" name="NombrePiloto" required />
    </div>
    <div class="form-group">
        <label for="IdEscuderia">Escuderia</label>
        <select class="form-control" id="IdEscuderia" name="IdEscuderia" required>
            <option value="">Seleccione una escuderia</option>
            @foreach (var escuderia in (List<Escuderium>) ViewBag.Escuderias)
            {
                <option value="@escuderia.IdEscuderia">@escuderia.NombreEscuderia</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Piloto</button>
</form>
